[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
tweepy = "==3.7.0"
sendgrid = "==5.6.0"
redis = "*"
lxml = "*"
pymongo = "*"

[requires]
python_version = "3.8"
